@import 'reset/base.sass'

$primaryColor: #000
$primaryBackgroundColor: #fff
$secondaryColor: #fff
$secondaryBackgroundColor: #4D2C69
$tertiaryColor: #fff
$tertiaryBackgroundColor: #111

$linkColor: $primaryColor

$buttonColor: $secondaryColor
$buttonBackgroundColor: $secondaryBackgroundColor

$inputColor: $primaryColor
$inputBackgroundColor: $primaryBackgroundColor

h1, h2, h3
    font-weight: bold

h1 
    margin: .2em 0 .5em 0
    font-size: 150%

h2
    margin: .1em 0 .2em 0

h3
    font-size: 120%

a
    color: $linkColor
    text-decoration: none

p
    margin: 0 0 .5em

article
    margin-bottom: 1em

pre
    overflow: scroll

img
    max-width: 100%

ul
    list-style: square

@import 'reset/form'
@import 'reset/table'
@import 'reset/menu'
