
nav
    ul
        list-style: none

    > ul li
        > a,
        > div
            display: block
            padding: .5em 1em

    &.vertical
        > ul li
            ul
                &.collapsed
                    display: none
                &.expanded
                    display: block
                li
                    > a,
                    > div
                        padding-left: 1.5em

    &.horizontal > ul
        @include clearfix
        > li
            float: left
        li
            position: relative
            ul
                display: none
            // fixme: why 1px offset?
            &:hover > ul
                position: absolute
                display: block
                min-width: 100%
                z-index: 10

    // From default app sass, needs cleanup
    display: none
    &.mobile
        @include media($tablet)
            display: block
            > ul
                width: 100%
                display: table
                > li
                    float: none
                    display: table-cell
                    width: 100%
                    text-align: center
                    &:first-child,
                    &:last-child
                        width: 0
                        a
                            padding: .5em 0
                            width: 2em
    &:not(.mobile)
        display: block
        @include media($tablet)
            display: none
    &.touchmenu
        display: block
        padding: .5em 0
        width: 80%
        max-width: 300px
        color: $primaryColor
        background-color: $secondaryColor
        a
            color: $primaryColor
            padding: .75em .5em
            &:hover
                color: $secondaryColor
                background-color: $secondaryBackgroundColor
            i
                margin-right: .3em
        > ul > li:last-child
            display: none

.dropdown
    position: relative
    display: inline-block
    list-style: none
    .dropdown-menu
        display: none
        list-style: none
        position: absolute
        z-index: 10
        background-color: #000
        li
            display: block
            > a,
            > div
                color: #fff
                display: block
                padding: .5em .75em
                white-space: nowrap
                > i
                    margin-right: .25em

    &:hover .dropdown-menu
        display: block
